.btn {
  display: inline-block;
  background: white;
  border: none;
  font-size: 1.4rem;
  min-width: 80px;
  min-height: 30px;
  text-align: center;
  padding: 10px 20px;
  transition: filter ease-in 0.1s;
  &:hover {
    cursor: pointer;
  }
}
.btn + .btn,
.selects {
  margin-left: 10px;
}
.btn-small {
  max-width: 60px;
}
.btn-medium {
  min-width: 180px;
}
.btn-default {
  border: 1px solid $nc-primary;
  background: #fcece6;
  color: $nc-primary;
  &:hover {
    filter: brightness(96%);
  }
}
.btn-primary {
  border: 1px solid $nc-primary;
  background: $nc-primary;
  color: white;
  &:hover {
    filter: brightness(96%);
  }
}
.btn-white {
  border: 1px solid white;
  background: white;
  color: black;
  &:hover {
    filter: brightness(96%);
  }
}

.shopee-input {
  display: flex;
  width: 110px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &__icon {
    width: 30px;
    background: white;
    border: none;
    &:hover {
      cursor: pointer;
      filter: brightness(96%);
    }
  }
  input {
    border: none;
    outline: none;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    width: 50px;
  }
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  .dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $nc-primary;
    color: $nc-primary;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: 0.5s;
  }

  .dot-flashing::before,
  .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }

  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $nc-primary;
    color: $nc-primary;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }

  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $nc-primary;
    color: $nc-primary;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }

  @keyframes dotFlashing {
    0% {
      background-color: $nc-primary;
    }
    50%,
    100% {
      background-color: #ffe6e9;
    }
  }
}

.find-item {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__icon {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  &__txt {
    font-size: 2.2rem;
  }
}
.cart-empty {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__icon {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  &__txt {
    font-size: 2.2rem;
  }
}
