.btn {
  display: inline-block;
  background: white;
  border: none;
  font-size: 1.4rem;
  min-width: 80px;
  min-height: 30px;
  text-align: center;
  padding: 10px 20px;
  transition: filter ease-in 0.1s;
  &:hover {
    cursor: pointer;
  }
}
.btn + .btn,
.selects {
  margin-left: 10px;
}
.btn-small {
  max-width: 60px;
}
.btn-medium {
  min-width: 180px;
}
.btn-default {
  border: 1px solid $nc-primary;
  background: #fcece6;
  color: $nc-primary;
  &:hover {
    filter: brightness(96%);
  }
}
.btn-primary {
  border: 1px solid $nc-primary;
  background: $nc-primary;
  color: white;
  &:hover {
    filter: brightness(96%);
  }
}
.btn-white {
  border: 1px solid white;
  background: white;
  color: black;
  &:hover {
    filter: brightness(96%);
  }
}
