.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background-image: linear-gradient(to bottom, $nc-subprimary, $nc-primary);
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    &__left {
      display: flex;
      align-items: center;
      .txt__small {
        color: white;
        font-weight: 300;
        padding: 0 8px;
        border-right: 2px solid hsla(0, 0%, 100%, 0.22);
        &:hover {
          opacity: 0.6;
        }
      }
      .qr-code {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 100%;
          height: 10px;
          background: transparent;
        }
        &:hover .qrcode-inner {
          display: block;
        }
      }
      .qrcode-inner {
        position: absolute;
        display: none;
        border-radius: 2px;
        overflow: hidden;
        top: calc(100% + 10px);
        left: 10%;
        width: 180px;
        .qrcode-store {
          display: flex;
          padding: 4px 10px;
          a {
            object-fit: contain;
            margin: 0 4px;
          }
        }
      }
      .toolbar__block {
        display: flex;
        align-items: center;
        .txt__small {
          border-right: none;
        }
        &--fb {
          font-size: 1.6rem;
          color: white;
          margin: 0 2px;
        }
        &--ig {
          font-size: 1.8rem;
          color: white;
          margin: 0 2px;
        }
      }
    }
    &__right {
      display: flex;
      align-items: center;
      .notify {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 4px;

        &:hover {
          .notify__bell,
          .txt__small {
            opacity: 0.6;
          }
          .notify__block {
            display: block;
          }
        }
        &__bell {
          font-size: 2rem;
          color: $nc-white;
        }
        &__block {
          position: absolute;
          display: none;
          top: calc(100% + 10px);
          right: 5%;
          width: 360px;
          height: 300px;
          background: $nc-white;
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          transform-origin: calc(100% - 20px) top;
          animation: scaleTopRight ease-in 0.2s;
          @keyframes scaleTopRight {
            from {
              transform: scale(0);
            }
            to {
              transform: scale(1);
            }
          }
          ::before {
            position: absolute;
            content: "";
            bottom: 100%;
            right: 26px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
          }
          .notify__list {
            display: flex;
            height: 100%;
            flex-direction: column;
            &-item {
              &--icon {
                font-size: 6rem;
              }
              height: 80%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              flex: 1;
            }
            &-text {
              font-size: 1.4rem;
            }
            &-btn {
              display: flex;
              .btn-notify {
                flex: 1;
                height: 38px;
                border: none;
                font-size: 1.3rem;
              }
            }
          }
        }
      }
      .toolbar__block {
        display: flex;
        align-items: center;
        padding: 0 4px;
        &:hover {
          opacity: 0.6;
        }

        &--question {
          font-size: 2rem;
          color: $nc-white;
        }
      }
      .txt__small {
        display: flex;
        align-items: center;
        &-avatar {
          width: 20px;
          margin-right: 8px;
          display: block;
          border-radius: 50%;
        }
        &-txt {
          font-size: 1.3rem;
          display: block;
        }
        color: $nc-white;
        font-weight: 300;
        padding: 0 4px;
        border-right: 1px solid hsla(0, 0%, 100%, 0.22);

        &:last-child {
          border-right: none;
        }
        &:hover {
          opacity: 0.6;
          .notify {
            opacity: unset;
          }
        }
      }
    }
  }
  .search {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
    &__logo {
      margin-right: 40px;
    }
    &__wrapper {
      flex: 2;
      .search__input {
        height: 4rem;
        background: $nc-white;
        border-radius: 2px;
        overflow: hidden;
        display: flex;
        align-items: center;
        &--header {
          flex: 1;
          height: 100%;
          font-size: 1.4rem;
          font-weight: 300;
          border: none;
          outline: none;
          padding: 0 12px;
        }
        &--submit {
          height: calc(100% - 8px);
          min-width: 60px;
          background: #ee4d2d;
          border: none;
          border-radius: 2px;
          margin-right: 4px;
          color: white;
        }
        &--icon {
          font-size: 2rem;
        }
      }
      .search__suggest {
        margin-top: 4px;
        &--item {
          font-size: 1.2rem;
          font-weight: 300;
          color: $nc-white;
          margin-right: 8px;
        }
      }
    }
    &__cart {
      margin: 0 20px;
      margin-left: 40px;
      padding: 10px;
      &--icon {
        color: $nc-white;
        font-size: 30px;
      }
    }
  }
}
