.pagedetail {
  .detail {
    margin: 20px 0;
    border-radius: 4px;
    background: $nc-white;
    padding: 10px;
    &__left {
      text-align: center;
      .thumbnails {
        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
    &__right {
      .content {
        &__title {
          margin-bottom: 12px;
          &-hashtag {
            display: inline;
            background: $nc-primary;
            border-radius: 2px;
            padding: 2px 6px;
            font-size: 1.2rem;
            color: white;
            margin-right: 10px;
          }
          &-txt {
            display: inline;
            line-height: 24px;
            font-size: 2rem;
            font-weight: 500;
          }
        }
        &__price {
          font-size: 2.8rem;
          color: $nc-primary;
          background: $nc-util-bg;
          padding: 14px;
          margin-bottom: 14px;
        }
        &__desc {
          padding-left: 20px;
          font-size: 1.4rem;
          line-height: 20px;
          margin-bottom: 50px;
        }
        &__quantity {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          &-txt {
            width: 100px;
            font-size: 1.4rem;
            color: $nc-grey;
          }
          .shopee-input {
            margin-right: 10px;
          }
          span {
            font-size: 1.4rem;
            color: #757575;
          }
        }
        &__notify {
          font-size: 1.4rem;
          color: $nc-primary;
          margin: 10px 0 16px 100px;
        }
      }
    }
  }
}
